* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1d273b;
    font-weight: 300;
}
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


.contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}


h1 {
    font-size: 50px;
}


/* Header */
header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}


nav {
    width: 100%;
    height: 80px;
    background: #1f2aca;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 70px;

}

.nav .logo img {
    height: 90%;
    vertical-align: top;
}

.enlaces-header {
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
}

.hamburguer {
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburguer>i {
    font-size: 25px;
    line-height: 80px;
}

.inicio-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio-header>img {
    width: 550px;
    animation: ease-in animat 1s;
}

/* ANIMACION DE IMAGEN DE BARNER */
@keyframes animat {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.textos-header {
    margin: 0 0 0 30px;
}

.inicio-header p {
    font-weight: 100;
    margin-top: 14px;
    color: #000000;
}


.inicio-header a {
    margin: 28px 0 0 0;
    width: 180px;
    display: inline-block;
    background: #1f2aca;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 107, 222, 0.46);
}

.titulo {
    color: #fff;
    font-size: 30px;
}

/* Partado para la informacion de las monedas mas relevantes */

.informacion {
    background: #1f2aca;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}
.articulo {
    width: 49%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 90px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
}

.articulo>i {
    font-size: 30px;
    color: #fff;
    background: #1f2aca;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
}

.articulo>h3 {
    color: #1f2aca;
    font-size: 44px;
    margin-top: 20px;
}

.articulo>p {
    font-weight: 100;
    color: #000000;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a {
    
    color: #1f2aca;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgb(24, 24, 24);
    padding: 6px 0;
    width: 400px;
    text-align: center;
    border-radius: 15px;
}

.articulo>a:hover {
    color: #1f2aca;
    border-color: #1f2aca;
    transition: color .5s;
}


/* Aparatado de invertir */


.invertir {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invertir>img {
    width: 550px;
}

.textos-invertir {
    margin: 0 0 0 30px;
}

.textos-invertir p {
    font-weight: 100;
    margin-top: 14px;
    color: #000000;
}


.textos-invertir a {
    margin: 28px 0 0 0;
    width: 180px;
    display: inline-block;
    background: #1f2aca;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(44, 31, 222, 0.46);
}


/* precios de las criptomonedas */

.precios {
    background: #1f2aca;
    padding-top: 30px;
}

.conten-precios {
    display: flex;
    justify-content: space-evenly;
}

.numbers {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number {
    width: 45%;
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 90px;
    padding: 30px 35px;
    margin-bottom: 20px;
}

.numbers .number h4 {
    color: #1f2aca;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.numbers .number p {
    color: #0a0a0a;
    font-weight: 500;
}

.precios-text {
    width: 37%;
}

.precios-text h4 {
    color: #fff;
    font-size: 50px;
}

.precios-text p {
    color: #fff;
    font-weight: 300;
    margin: 40px 0;
}


.precios-text>a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px 0;
    width: 180px;
    text-align: center;
    border-radius: 15px;
}
 /* servicios */

 .servicio-cont{
    justify-content: center;
    flex-direction: column;
}

.servicio-ind{
    width: 100%;
    text-align: center;
}

.servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
    margin-bottom: 60px;
}

.servicio-ind img{
    width: 90%;
}
}

@media screen and (max-width:500px){
nav{
    text-align: center;
    padding: 30px 0 0 0;
}

nav > a{
    margin-right: 5px;
}

.textos-header h1{
    font-size: 35px;
}

.textos-header h2{
    font-size: 20px;
}